.menu-button {
  padding-right: 20px;
}

.menu-button:focus {
    outline: none;
}

.game-search-input {
  width: 150%;
}

.game-search-item-platform, .game-search-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-search-item-container {
  width: 220px;
}

.game-search-item-description {
  padding-left: 10px;
  padding-right: 10px;
}

.game-search-spinner {
  position: absolute;
  width: auto;
  height: 30px;
  margin-right: 10%;
  margin-left: 80%;
}
