<md-toolbar [ngClass]="['md-primary','md-hue-1']" flexLayout="column">
  <div [ngClass]="['menu-button']">
    <button md-icon-button [mdMenuTriggerFor]="menu" >
      <!-- <md-icon>more_vert</md-icon> -->
      <md-icon>menu</md-icon>
    </button>
  </div>
  <input fxFlex
    type="text"
    focusFirst
    showHint
    placeholder="Giant Bomb search ..."
    [class.has-danger]="searchFailed"
    [ngClass]="['form-control','game-search-input']"
    [(ngModel)]="model"
    [ngbTypeahead]="search"
    [inputFormatter]="inputFormatter"
    [resultFormatter]="resultFormatter"
    [resultTemplate]="gameMatchTemplate"/>
  <md-spinner
    [hidden]="!searching"
    [ngClass]="['game-search-spinner']"
    mode="indeterminate">
  </md-spinner>
</md-toolbar>

<ng-template #gameMatchTemplate let-r="result" let-t="term">
  <div [ngClass]="['game-search-item-container']" fxFlex="100%" fxLayout="row" fxLayoutAlign="start start">
    <img [src]="r.image" fxFlex="20%">
    <div [ngClass]="['game-search-item-description']" fxLayout="column" fxFlex="75%">
      <div [ngClass]="['game-search-item-title']">{{ r.name }}</div>
      <div [ngClass]="['game-search-item-platform']">{{ r.platforms }}</div>
    </div>
    <button md-icon-button (click)="addGame(r)">
      <md-icon [ngClass]="['md-18']">add_circle_outline</md-icon>
    </button>
  </div>
</ng-template>

<md-menu x-position="after" y-position="below" #menu="mdMenu">
  <button md-menu-item (click)="retrarchCmd('MENU_TOGGLE')">
    <md-icon>menu</md-icon>
    <span>Menu</span>
  </button>
  <button md-menu-item (click)="retrarchCmd('CHEAT_TOGGLE')">
    <md-icon>highlight</md-icon>
    <span>Cheat Sheet</span>
  </button>
  <button md-menu-item (click)="retrarchCmd('LOAD_STATE')">
    <md-icon>file_upload</md-icon>
    <span>Load State</span>
  </button>
  <button md-menu-item (click)="retrarchCmd('SAVE_STATE')">
    <md-icon>file_download</md-icon>
    <span>Save State</span>
  </button>
  <button md-menu-item (click)="exit()">
    <md-icon>stop</md-icon>
    <span>Exit</span>
  </button>
</md-menu>
