.form-control {}

.form-group {
  justify-content: center;
  margin: auto;
}

.game-search-item-platform, .game-search-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-search-item-container {
  width: 250px;
  margin-right: 20px;
}

.game-search-item-description {
  padding-left: 10px;
  padding-right: 10px;
}

.game-search-spinner {
  position: absolute;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
