<md-toolbar [ngClass]="['md-primary','md-hue-3','game-search-container']">
  <div class="form-group" [class.has-danger]="searchFailed" fxLayout="column" fxFlex="100%">
    <input
      type="text"
      class="form-control"
      focusFirst
      showHint
      placeholder="Giant Bomb search ..."
      [(ngModel)]="model"
      [ngbTypeahead]="search"
      [inputFormatter]="inputFormatter"
      [resultFormatter]="resultFormatter"
      [resultTemplate]="gameMatchTemplate"/>
  </div>
  <div class="form-control-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
</md-toolbar>

<template #gameMatchTemplate let-r="result" let-t="term">
  <div [ngClass]="['game-search-item-container']" fxFlex="100%" fxLayout="row" fxLayoutAlign="start start end">
    <img [src]="r.image" fxFlex="20%">
    <div [ngClass]="['game-search-item-description']" fxLayout="column" fxFlex="75%">
      <div [ngClass]="['game-search-item-title']">{{ r.name }}</div>
      <div [ngClass]="['game-search-item-platform']">{{ r.platforms }}</div>
    </div>
    <button md-mini-fab class="md-primary" (click)="addGame(r)">
      <md-icon class="md-18">add</md-icon>
    </button>
  </div>
</template>

<md-spinner *ngIf="searching" [ngClass]="['game-search-spinner','md-primary md-hue-2']" mode="indeterminate"></md-spinner>
