md-card {
  /*padding-bottom: 50px;*/
  margin: 20px 10px 20px 10px;
}

ngb-rating {
    padding-bottom: 15px;
}

md-chip {
  margin-top: 10px;
  margin-left: 10px;
}

.play {
  position: absolute;
  opacity: .6;
  height: 40px;
}

md-card-content {
  padding-top: 20px;
}

md-card-subtitle div, md-card-title div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

md-card-title {
  margin-bottom: 10px;
}

img[md-card-avatar] {
  height: 100%;
  width: auto;
}
