<game-search></game-search>

<!--
TODO-FIXME: menu with:
  - bring up retroarch menu
  - exec command save/load state of game
  - ext/start kodi
-->
<md-chip-list>
  <md-chip *ngFor="let filter of filters"
  [color]="'primary'"
  [disabled]="filter.disabled"
  [selected]="filter.selected"
  (click)="filter.selected = !filter.selected">{{ filter.name }}</md-chip>
</md-chip-list>

<md-card *ngFor="let game of games | gameFilter:filters | gameSort; trackBy:game?.id" fxLayout="column">
  <ngb-rating max="5" [(rate)]="game.rating" (rateChange)="update(game)"></ngb-rating>

  <!-- TODO-FIXME: play button -->
  <!-- TODO-FIXME: delete button -->

  <div fxLayout="row" fxLayoutAlign="start end">
    <md-card-header fxLayout="row" fxFlex="95%">
      <img md-card-avatar src="{{ game.image }}">
      <div fxLayout="column" fxFlex="80%">
        <md-card-title><div>{{ game.name }}</div></md-card-title>
        <md-card-subtitle><div>{{ game.platforms }}</div></md-card-subtitle>
      </div>
    </md-card-header>

    <button md-icon-button [mdMenuTriggerFor]="menu" fxFlex>
      <md-icon>more_vert</md-icon>
    </button>

    <md-menu x-position="before" y-position="below" #menu="mdMenu">
      <button md-menu-item (click)="download(game)">
        <md-icon>file_download</md-icon>
        <span>Download</span>
      </button>
      <button md-menu-item (click)="launch(game)">
        <md-icon>launch</md-icon>
        <span>Start</span>
      </button>
      <button md-menu-item (click)="stop(game)">
        <md-icon>stop</md-icon>
        <span>Stop</span>
      </button>
      <button md-menu-item (click)="remove(game)">
        <md-icon>delete</md-icon>
        <span>Delete</span>
      </button>
    </md-menu>
  </div>
  <md-card-content>{{ game.summary }}</md-card-content>

  <div [ngClass]="['md-card-footer']" fxLayout="row" fxLayoutAlign="end">
    <button md-icon-button>
      <md-icon>delete</md-icon>
    </button>
  </div>
</md-card>

<br/>

<suggestions></suggestions>
<available></available>
