md-card {
  margin: 20px 10px 20px 10px;
}

md-card-title {
  margin-bottom: 10px;
}

md-card-subtitle div, md-card-title div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

md-card-content {
  padding-top: 20px;
}

ngb-rating {
  padding-bottom: 15px;
}

ngb-rating span:focus {
  outline: none;
}

button:focus {
  outline: none;
}

md-chip {
  margin-top: 10px;
  margin-left: 10px;
}

img[md-card-avatar] {
  height: 40px;
  width: auto;
}

img.play {
  position: absolute;
  opacity: .4;
  height: 40px;
}

.search {
  margin-left: 10px;
  margin-right: 10px;
}
