<game-search></game-search>

<md-card *ngFor="let game of games;trackBy:game?.id" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start end">
    <md-card-header fxLayout="row" fxFlex="95%">
      <img md-card-avatar src="{{ game.image }}">
      <div fxLayout="column" fxFlex="80%">
        <md-card-title><div>{{ game.name }}</div></md-card-title>
        <md-card-subtitle><div>{{ game.platforms }}</div></md-card-subtitle>
      </div>
    </md-card-header>

    <button md-icon-button [mdMenuTriggerFor]="menu" fxFlex="5%">
      <md-icon>more_vert</md-icon>
    </button>

    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="download(game)">
        <md-icon>file_download</md-icon>
        <span>Download</span>
      </button>
      <button md-menu-item [disabled]="!game.downloaded" (click)="launch(game)">
        <md-icon>launch</md-icon>
        <span>Start</span>
      </button>
      <button md-menu-item [disabled]="!game.running" (click)="stop(game)">
        <md-icon>stop</md-icon>
        <span>Stop</span>
      </button>
      <button md-menu-item (click)="remove(game)">
        <md-icon>delete</md-icon>
        <span>Delete</span>
      </button>
    </md-menu>
  </div>
  <md-card-content>{{ game.summary }}</md-card-content>
</md-card>


<!-- <div *ngFor="let game of games;trackBy:game?.id" fxLayout="column" style="padding-top: 10px">
  <md-card fxLayout="column">
    <div fxLayout="row">
      <md-card-header fxFlex>
        <img md-card-avatar src="{{ game.image }}">
        <md-card-title>{{ game.name }}</md-card-title>
        <md-card-subtitle>{{ game.platforms }}</md-card-subtitle>
      </md-card-header>

      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>

      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="download(game)">
          <md-icon>file_download</md-icon>
          <span>Download</span>
        </button>
        <button md-menu-item [disabled]="!game.downloaded" (click)="launch(game)">
          <md-icon>launch</md-icon>
          <span>Start</span>
        </button>
        <button md-menu-item [disabled]="!game.running" (click)="stop(game)">
          <md-icon>stop</md-icon>
          <span>Stop</span>
        </button>
        <button md-menu-item (click)="remove(game)">
          <md-icon>delete</md-icon>
          <span>Delete</span>
        </button>
      </md-menu>
    </div>
    <md-card-content><div innerHTML="{{ game.summary }}"></div></md-card-content>
  </md-card>
</div> -->
