<h1 style="font: 40px Caveat" fxLayoutAlign="center">{{title}}</h1>

<game-search></game-search>

<md2-accordion [multiple]="true">
  <md2-accordion-tab header="Library" active="true">
    <dashboard></dashboard>
  </md2-accordion-tab>
  <md2-accordion-tab header="Suggestions" active="false">
    <suggestions></suggestions>
  </md2-accordion-tab>
  <md2-accordion-tab active="false">
      <md2-accordion-header>
          Available
      </md2-accordion-header>
      <available></available>
  </md2-accordion-tab>
</md2-accordion>

<ng-template ngbModalContainer></ng-template>
<remote></remote>
