<h1 style="font: 40px Caveat" fxLayoutAlign="center">{{title}}</h1>

<game-search></game-search>

<md2-accordion [multiple]="true">
  <md2-accordion-tab #dashboard header="Library" active="true">
    <dashboard></dashboard>
  </md2-accordion-tab>
  <md2-accordion-tab #suggestions header="Suggestions" active="false">
    <suggestions *ngIf="suggestions.active"></suggestions>
  </md2-accordion-tab>
  <md2-accordion-tab #available header="Available" active="false">
      <available *ngIf="available.active"></available>
  </md2-accordion-tab>
</md2-accordion>

<ng-template ngbModalContainer></ng-template>
<remote></remote>
